<template>
<transition appear  enter-active-class="animated zoomIn" leave-active-class="animated zoomOut ">
      <q-banner class="bg-grey-3 q-mt-lg">
        <template v-slot:avatar>
          <q-icon name="check" color="primary" />
        </template>
        No tasks to do today.
        <template v-slot:action>
          <q-btn flat color="primary" label="Add Task" @click="$root.$emit('showAddTask')"/> <!--$root.$emit is used to send an event in a global way it s known as quasar event bus, we need to add a listner this.$root.on where we want this event to be called this is not the best way of doing its bette to put the variable in the store-->
        </template>
      </q-banner>
</transition>  

</template>

<script>
export default {

}
</script>

<style>

</style>