<template>
<transition appear  enter-active-class="animated zoomIn" leave-active-class="animated zoomOut absolute-top"> <!--Usin this absolute top class because of the no tasktodo it was running the animation-->
    <div class="q-mt-lg"> <!--When we want to use two quasar vue component, it is necessary to surround it with a div-->
      
    <list-header bgColor="bg-orange-6" v-if="!settings.showTasksInOneList">Todo</list-header >

    <q-list bordered separator >   <!-- This object returns an array and if it us =0, the result will be null and the list wont be shown  -->

        <task v-for="(task, key) in tasksTodo" :key="key" :task="task" :id="key"></task>
      
      </q-list>
    </div>
</transition>  
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props:['tasksTodo'],
  components:{
    'task': require('components/Tasks/Taks.vue').default,
    'list-header': require('components/Shared/ListHeader.vue').default,
  },
  computed:{
    ...mapGetters('settings', ['settings'])
  }
}
</script>

<style>

</style>