<template>
  <transition appear  enter-active-class="animated zoomIn" leave-active-class="animated zoomOut">
    <div :class="{'q-mt-lg': !settings.showTasksInOneList}">

      <list-header bgColor="bg-green-6" v-if="!settings.showTasksInOneList">Completed</list-header >
      <q-list bordered separator >   <!-- This object returns an array and if it us =0, the result will be null and the list wont be shown  -->

        <task v-for="(task, key) in tasksCompleted" :key="key" :task="task" :id="key"></task>
          
      </q-list>

      </div>
    </transition>

</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props:['tasksCompleted'],
  components:{
    'task': require('components/Tasks/Taks.vue').default,
    'list-header': require('components/Shared/ListHeader.vue').default
  },
  computed:{
    ...mapGetters('settings', ['settings'])
  }
}
</script>

<style>

</style>