<template>
   <q-page class="q-pa-md">
    <q-btn flat color="primary" icon="chevron_left" label="Back" to="/settings"/>
    
    <h5>How to use TodoList </h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum odio ducimus quis, dolorem non amet, eius ipsa voluptas quisquam ea, doloremque ex aut. Cum suscipit consequuntur inventore, similique quisquam distinctio.</p>
   </q-page>
    
</template>

<script>
export default {

}
</script>

<style> 

</style>