<template>
    <q-select filled v-model="sortBy" :options="options" label="Sort by" stack-label class="col" emit-value map-options/> <!--Instead of getting the whole object we can get only the value that we want from it, so we use the emit-value / but when use this it changes the label too, so we need to use map-options to solve this out -->

</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
    data () {
    return {
      options: [
        { 
            label:'Name',
            value:'name'
        },
        { 
            label:'Date',
            value:'dueDate'
        }
      ]

    }
    
  },
  computed:{
      ...mapState('tasks', ['sort']),
      sortBy:{
          get(){
              return this.sort
          },
          set(value){
              this.setSort(value)
          }
      }
  },
  methods:{
      ...mapActions('tasks', ['setSort'])
  }
    

}
</script>

<style>

</style>