<template>
   <!-- Name Field -->
              <div class="row q-mb-sm">
                <q-input outlined :value="name" label="Task Name" class="col" :rules="[val => !!val || 'Field is required']" ref="name" autofocus @input="$emit('update:name', $event)" v-select-all> <!-- esse @input it's being used to pass the value of this input to AddTask component -->
                <template v-slot:append>
                  <q-icon v-if="name" name="close" @click="$emit('update:name', '')" class="cursor-pointer"/>
                </template>

                </q-input>  
              </div>
</template>

<script>
import {selectAll} from 'src/directives/directive.select-all'
export default {
    props:['name'],
    directives:{
      selectAll
    }
}
</script>

<style>

</style>