<template>
  <q-layout view="hHh LpR fFf">
    <q-header elevated>
      <q-toolbar>

        <q-toolbar-title class="absolute-center">
          Todo List
        </q-toolbar-title>

          <q-btn flat icon-right="account_circle" label="login" class="absolute-right" to="/auth" v-if="!loggedIn"/>

          <q-btn flat icon-right="account_circle" label="Logout" class="absolute-right"  v-else @click="logoutUser"/>
      </q-toolbar>
    </q-header>
    <q-footer >
      <q-tabs >
        <q-route-tab v-for="nav in navs" :key="nav.label" :icon="nav.icon" :label="nav.label" :to="nav.to"/>
      </q-tabs>
       
    </q-footer>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      :width="250"
      content-class="bg-primary"
      :breakpoint="767"
    >
      <q-list dark>
        <q-item-label header class="text-grey-4">
          Navagation
        </q-item-label>
        
        <q-item class="text-grey-4" v-for="nav in navs" :key="nav.label" clickable :to="nav.to" exact>
          <q-item-section avatar>
          <q-icon :name="nav.icon" />
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ nav.label }}</q-item-label>
        </q-item-section>
      </q-item>

      
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import {mapState, mapActions} from 'vuex'

export default {
  name: 'Layout',
  data () {
    return {
      leftDrawerOpen: false,
      navs:[
        {
          label:'Todo',
          icon:'list',
          to:'/'
        },
         {
          label:'Settings',
          icon:'settings',
          to:'/settings'
        },
      

      ]
    }
  },
  computed:{
    ...mapState('auth', ['loggedIn'])
  },
  methods:{
    ...mapActions('auth', ['logoutUser']),
  }
}
</script>
<style lang="scss">
@media screen and (min-width:768px){
  .q-footer{
    display: none;
  }
}
.q-drawer {
    .q-router-link--exaxt-active {
      color: white !important;
    }
}       
</style>