<template>
  <q-card>
        <modal-header>Edit Task</modal-header>

        <form @submit.prevent="submitForm">
            <q-card-section class="q-pt-none">
              <!-- Name Field -->   
              <modal-task-name :name.sync="taskToSubmit.name" ref="modalTaskName"/>
              <!-- Date Field -->
              <modal-due-date :dueDate.sync="taskToSubmit.dueDate" @clear="clearDueDate"/>
              <!-- Hour Field -->
              <modal-due-time :dueTime.sync="taskToSubmit.dueTime" :dueDate.sync="taskToSubmit.dueDate"/>
          </q-card-section>
            <!-- Button Save -->
              <modal-buttons/>
        </form>
      </q-card>
     
</template>

<script>
import { mapActions} from 'vuex'
import mixinAddEditTask from 'src/mixins/mixin-add-edit-task'
export default {
  mixins:[mixinAddEditTask],
  props:['task','id'],
    data() {
        return {
            taskToSubmit:{
                
            }
        }
    },
    methods:{
       ...mapActions('tasks', ['updateTask']),
      submitTask(){
        this.updateTask({
          id:this.id,
          updates:this.taskToSubmit
        })
        this.$emit('closeModalAdd')
      }

    },
    created(){
     this.taskToSubmit =  Object.assign({}, this.task) // this method is to populate my objetc on the vdata, used mounted so when the page is loaded we have the datas this.task comes from the page TasksTodo.vue, we passed the taks itself and its key on the object
    }

}
</script>

<style>

</style>